body{font-family: Arial, Helvetica, sans-serif;
background-color: #f1ec9e}
h1, h2, h3, h4, hr {
    color: #2e3484;
  }
  h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.2em;
}
p, ul {color: #9247a7; font-size: 1em;

}
        a:link {color: #36b5e1;}
        a:visited {color: #a55c41;}

        .evenrow {background-color: rgb(196, 211, 227);}
nav {
    background-color: #9ad894;
padding:10px;
margin-bottom: 30px }

nav a:hover {background-color: #4eae64}
@media only screen and (max-width: 900px) {
        nav a {display: block; width: 100%;}
        span {display:none}
        .alink {display: block;padding-top: 2%}
        
    }
    