body{font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1 {color:darkgreen;}
h2 {color:darkslateblue;}
h3 {color: darkgreen;}
  .special {color: purple}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.2em;
}
h3 {font-size: 1em}

nav {
  background-color: #3faad8;
padding:10px;
margin-bottom: 30px }

body {background-color:rgb(247, 234, 184);
  flex-wrap: wrap; }
